* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
  }
  
  .hero {
    height: 100vh;
    background: url('https://4.bp.blogspot.com/-hb_IkgXy4Qc/WHXq4q2-QwI/AAAAAAAADn4/Lw6pgdmJnxgzR1ZJ9L9fStWiYMK02TSgwCLcB/s1600/1.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
